{
  "AsanaOAuth": {
    "ClientId": "",
    "ClientSecret": "",
    "AuthorizationUri": "https://app.asana.com/-/oauth_authorize",
    "TokenUri": "https://app.asana.com/-/oauth_token",
    "WorkspaceId": ""
  },
  "Database": {
    "Path": "devjournal.db"
  }
}
